/* *Messages */
.messagesTab
{
    margin: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-bottom: 3px; padding-top: 3px;
}



.messagesTab.orange
{
    background: #b88a01;
    border: 3px solid rgb(255, 242, 0)
}

.messagesTab.red
{
    background: #a40101;
    border: 3px solid rgb(255, 4, 4);   
}

.messagesTab.green
{
    background: #1c8a01;
    border: 3px solid rgb(162, 255, 0);
}


.messagesTab > .messagesHeader
{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}


.messagesTab img
{
    height: 75px;
    display: inline;
    align-self:flex-end;
    margin: 10px;
    margin-right: 30px;
    padding: 5px;
}
.messagesTab.red img
{
    height: 100px;
    margin: 0;
    margin-right: 10px;
    padding: 5px;
}
.messagesTab p
{
    font-size: 1.4rem;
    font-weight: 350;
}
.messagesContent
{
    padding-top: 0 !important;
    padding: 10px;
}

/* Форматиране за съобщения, изпратени чрез модула messages */
.website-messages
{
    margin: 2%;
    text-align: center;
    /* From https://css.glass */
    background: rgba(2, 183, 62, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgb(0, 62, 21);
    box-shadow: 2px 2px 2px;
    padding: 3px
}
.website-messages h2
{
    font-weight: 300;
}



/* !ПО- МАЛКИ УСТРОЙСТВА */
@media only screen and (max-width: 700px)
{
    .messagesContent
    {
        padding-top: 0 !important;
        padding: 5px;
    }
    .messagesTab p
    {
        font-size: 1.1rem;
    }
    .messagesTab h1
    {
        font-size: 1.3rem;
    }
    .website-messages h2
    {
        font-weight: 300;
        font-size: 1.1rem;
    }
}