.pagination
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
    gap: 10px;
    text-align: center;
}
.pagination > *
{
    border: 2px solid black;
    padding: 10px;
    background: rgba(245, 245, 245, 0.356);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(207, 255, 138, 0.3);
    box-shadow: 4px 4px 1px rgba(43, 43, 43, 0.596);
}
.pagination > a
{
    flex-grow: 1;
    color: black;
    text-decoration: none;
    
}