.add-post
{
    margin: 2%;
}
.add-post > form
{
    display: flex;
    flex-direction: row;
    gap:10px
}
.add-post > form > input
{
    flex-grow: 1;
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
}
.add-post > form > button
{
    width: 120px;
    height: 60px;
    background-color: rgb(171, 235, 255);
    border: 2px solid rgb(0, 129, 158);
    border-radius: 10px;
    transition: scale 0.5s;
}
.add-post > form > button:hover
{
    scale: 1.06;
}
.add-post > form > button > img
{
    width: 40px;
    height: 40px;
}
@media screen and (max-width: 600px) {
    .add-post > form
    {
        flex-direction: column;
    }
    .add-post > form > input
    {
        width: 100%;
        height: 80px;
    }
    .add-post > form > button
    {
        width: 100%;
    }
}