.post
{
    display: flex;
    flex-direction: row;
    box-sizing:border-box;
    margin: 2%;
    align-items:center;
    border-radius: 10px;
    box-shadow: 5px 5px 1px rgba(73, 73, 73, 0.663);
    border: 2px solid black;
    padding: 15px;
    flex: 1;
}
.post img
{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    margin: 10px;
}
.post > .content
{
    flex: 1;
}
.post > .content > .user-info
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid gray;
    gap: 10px;
    flex-grow: 1;
}
.post > .content > .user-info h1
{
    color: rgb(14, 86, 255);
    font-weight: 300;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1px;
}
.post > .content > .user-info h1 span
{
    font-size: 1.8rem;

}
.post > .content > .user-info h1 a
{
    color: rgb(14, 86, 255);
}
.post > .content > .user-info h1 a:hover
{
    color: rgb(0, 56, 186);
}
.post > .content > .user-info > h2
{
    font-weight: 300;
    font-size: 1.2rem;
}
.post > .content > .post-info > p
{
    font-weight: 300;
    font-size: 1.5rem;
    display: block;
}
@media screen and (max-width: 600px)
{
    .post img
    {
        margin: 5px;
        width: 65px;
        height: 65px;
    }
    .post > .content
    {
        gap: 0px;
    }
    .post > .content > .user-info
    {
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .post > .content > .user-info h1
    {
        font-size: 1.1rem;
    }
    .post > .content > .user-info h1  span
    {
        font-size: 1.3rem;
    }
    .post > .content > .user-info  h2
    {
        font-size: 1rem;
        padding-bottom: 5px;
    }
    .post > .content > .post-info > p
    {
        font-size: 1.2rem;
        text-align: center;
        padding: 2px;
    }
}