/* *Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Advent Pro", serif;
    font-weight: 600;
}
/* *Body settings */ 
body
{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    flex-grow: 1;
}

footer
{
    margin-top: auto;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    background-color: rgb(59, 59, 59);
    color: white
}

/* headerArticle - използва се за горният текст на всяка страница*/
.headerArticle
{
    text-align: center;
    font-weight: 500;
    margin: 2%;
}

@media screen and (max-width: 600px) {
    .headerArticle{
        font-size: 1.4rem;
    }
}