{% extends "UserMessages/base.html" %}
{%load static%}

{% block content %}
    <div class='add-post'>
        <form method="POST" action="{% url 'messages-main'%}">
            {% csrf_token %}
            <input required type='text' placeholder="Въведете съобщение" id='new-message' name='new-message'>
            <button type="submit">
                <img src="{% static 'UserMessages/img/send.png'%}" alt="Submit" width="20" height="20">
            </button>
        </form>
    </div>
    {% for post in posts%}
        <div class='post'>
            <div class='content'>
                <div class='user-info'>
                    <img src="{{post.userConn.studentprofile.profilePicture.url}}">
                    <h1><a href="{%url 'users-profileinfo' post.userConn.id%}"><span>@{{post.userConn.username}}</span></a> ({{post.userConn.first_name}} {{post.userConn.last_name}})</h1>
                    <h2>{{post.dateAdded|date:"G:i ч. | j F Y"}}</h2>
                </div>
                <div class='post-info'>
                    <p>{{post.message}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class='pagination'>
        {% if posts.has_previous %}
            <a href="?page=1">&lt &lt</a>
            <a href="?page={{posts.previous_page_number}}">&lt;</a>
        {% else %}
            <a class='disabled' href="#">&lt&lt</a>
            <a class='disabled' href="#">&lt;</a>
        {% endif %}
        <span class="current">
            Страница {{ posts.number }} от {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">&gt</a>
            <a href="?page={{ posts.paginator.num_pages }}">&gt&gt</a>
        {% else %}
            <a class='disabled' href='#'>&gt</a>
            <a class='disabled' href='#'>&gt&gt</a>
        {% endif %}
    </div>
{% endblock %}