{% extends 'homework/base.html'%}
{% load static %}

{%block 'content'%}
    <!--Стилът за headerArticle е в homework/css/navigation.css. Мързи ме да ги сменям всеки път-->
    <h1 class='headerArticle'>Информация за задание с идентификационен №{{assignment.id}}</h1>
    <div class="assignment-box">
        <div class="subject-info">
            <h1>{{assignment.subject.name}}</h1>
            <h3>{{assignment.subject.teacher}}</h3>
        </div>
        <div class="description-info">
            <p><span class='desc'>Описание:</span> {{assignment.description}}</p>
            <p><span class='desc'>Добавено на:</span> {{assignment.dateAdded|date:"G:i ч. | j F Y"}}</p>
            <p><span class='desc'>Добавено от:</span> {{assignment.addedBy.username}}</p>
        </div>
    </div>

{%endblock%}