{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %} {{title}} {% else %} Default {% endif %}</title>
        <link rel="stylesheet" href={% static 'homework/css/reset.css'%}>
        <link rel="stylesheet" href={% static 'homework/css/navigation.css'%}>
        <link rel="stylesheet" href={% static 'homework/css/messages.css'%}>
        <link rel="stylesheet" href={% static 'homework/css/assignments.css'%}>
        <link rel="stylesheet" href={% static 'users/css/register.css'%}>
        <link rel="stylesheet" href={% static 'users/css/account-homework.css'%}>
        <link rel="stylesheet" href={% static 'homework/css/pagination.css'%}>
        <link rel='icon' href={% static 'homework/img/database-icon.png'%}>
    </head>
    <body>
        <header>
            <h1>База данни със заданията в 9. "ж" клас </h1>
            <h2>Трета ревизия на базата данни, направена изцяло от нас за целите на класа!</h2>
        </header>
        <nav>
            <img id='logo-img' src={% static 'homework/img/logo.png'%}>
            <a {% if homeActive %} id='active' {%endif%} href="{% url 'homework-home'%}">
                <img {% if homeActive%} src="{% static 'homework/img/home-active.png'%}" {% else %} src="{% static 'homework/img/home.png'%}" {% endif %} alt="Начало">
                <span>Начало</span>
            </a>
            <a {% if tomorrowActive %} id='active' {%endif%} href="{% url 'homework-tomorrow'%}">
                <img style='width: 45px; height:45px' {% if tomorrowActive%} src="{% static 'homework/img/calendar-active.png'%}" {% else %} src="{% static 'homework/img/calendar.png'%}" {% endif %} alt="Утре">
                <span>Утре</span>
            </a>
            <a {% if allActive %} id='active' {%endif%} href="{% url 'homework-all'%}">
                <img {% if allActive%} src="{% static 'homework/img/database-active.png'%}" {% else %} src="{% static 'homework/img/database.png'%}" {% endif %} alt="Всички">
                <span>Всички</span>
            </a>
            <a href="{% url 'messages-main' %}">
                <img src="{% static 'homework/img/chatting.png'%}" alt="Тази седмица">
                <span>Чат</span>
            </a>
            <div class='auth'>
                {% if user.is_authenticated %}
                    <a id='logout' href="{% url 'users-logout' %}">
                        <img src="{% static 'homework/img/logout.png'%}" alt="Излезни">
                        <span>Излизане</span>
                    </a>
                    <a {% if profileViewOwn %} id='active' {%endif%} id='profileView' href="{% url 'users-profileinfo' user.id %}">
                        <img src="{% static 'homework/img/profile.png'%}" alt="Профил">
                        <span>Профил</span>
                    </a>
                {%else%}
                    <a {% if loginActive %} id='active' {%endif%} id='login' href="{% url 'users-login' %}">
                        <img src="{% static 'homework/img/login.png'%}" alt="Влезни">
                        <span>Влизане</span>
                    </a>
                    <a {% if registerActive %} id='active' {%endif%} id='register' href="{% url 'users-register' %}">
                        <img src="{% static 'homework/img/registration.png'%}" alt="Регистрирай се">
                        <span>Регистриране</span>
                    </a>
                {%endif%}
            <div>
        </nav>
        <main>
            {% block 'content'%}
            {% endblock %}
        </main>
        <footer>
            <span> &copy 2025 Версия 0.7.1 / 9."ж" клас от Математическа гимназия "Академик Кирил Попов", Пловдив използва този сайт през учебната година 2025 / 2026 </span>
        </footer>
    </body>
</html>