{% extends 'homework/base.html'%}
{% load static %}

{%block content%}
{% for message in messages%}
    <div class='website-messages'>
        <h2>{{message}}</h2>
    </div>
{%endfor%}
{% for message in activeMessages %}
    <div class="messagesTab {% if message.messageImportance == -1%}green{% endif %} {% if message.messageImportance == 0%}orange{% endif %} {% if message.messageImportance == 1%}red{% endif %}">
        <div class='messagesHeader'>
            <img src="
                {% if message.messageImportance == -1 %}
                    {% static 'homework/img/information.png' %}
                {% elif message.messageImportance == 0 %}
                    {% static 'homework/img/warning.png' %}
                {% elif message.messageImportance == 1 %}
                    {% static 'homework/img/crisis.png' %}
                {% endif %}
            ">
            <h1>{{message.messageLabel}}</h1>
        </div>
        <div class='messagesContent'>
            <p>{{message.messageText|linebreaksbr}}</p>
        </div>
    </div>
{% empty%}
    <div class="messagesTab green">
        <div class='messagesHeader'>
            <img src="{% static 'homework/img/information.png' %}">
            <h1>Няма активни съобщения</h1>
        </div>
        <div class='messagesContent'>
            <p>Няма нищо за показване тук...</p>
        </div>
    </div>
{% endfor %}

{%endblock%}