{% extends 'homework/base.html'%}
{% load static %}

<!-- TODO Трябва да се оправи --> 
{%block 'content'%}

    {% for assignment in homework%}
        <div class="assignment-box">
            <div class="subject-info">
                <h1>{{assignment.subject.name}}</h1>
                <h3>{{assignment.subject.teacher}}</h3>
            </div>
            <div class="description-info">
                <p><b>Описание:</b>{{assignment.description}}</p>
            </div>
        </div>
    {% endfor %}

{%endblock%}