{% extends 'homework/base.html'%}
{% load static %}

<!-- * Вече не * Трябва да се оправи --> 
{%block 'content'%}

    {% for assignment in homework%}
        
        <div class="assignment-box">
            <div class="subject-info">
                <a href="{% url 'homework-assignment' assignment.id%}">
                    <h1>{{assignment.subject.name}}</h1>
                </a>
                <h3>{{assignment.subject.teacher}}</h3>
            </div>
            <div class="description-info">
                <p><span class='desc'>Описание:</span> {{assignment.description}}</p>
            </div>
        </div>
    {% empty %}
        <div class="assignment-box">
            <div class="subject-info" style='border: none'>
                <h1>Няма добавена домашна за утре!</h1>
            </div>
        </div>
    {% endfor %}

{%endblock%}