/* *Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
}
/* *Body settings */ 
body
{
    background: #2a9b3f;
    background: linear-gradient(90deg, rgba(42, 155, 63, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(83, 237, 186, 1) 100%);
}

/** Header */
header
{
    text-align: center;
    margin: 2%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.414);
    border-radius: 16px;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
}


/** Navigation bar */
nav
{
    display: flex;
    flex-direction: left;
    margin: 2%;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.419);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    gap:5px;
    border: 1px solid rgba(255, 255, 255, 0.96);
}

nav > a {
    display: flex;
    justify-content: center;
    width: 120px;
    text-align: center;
    line-height: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
  
}
nav > a > span
{
    font-size: 1.2rem;
    font-weight: 400 !important;
    border-radius: 10px;
    padding: 2px;
}

nav > a::before
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 0%;
    transition: width 0.5s;
    background-color: #378545ab;
}

nav > a:hover::before
{
    width: 100%;
}

nav > a > img
{
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
#active
{
    background-color: #20722f;
    color: rgb(234, 218, 218);
}
nav img {
    height:100px;
}

/*TODO Navigation bar - По- малки устройства */

/* *Messages */
.messagesTab
{
    border: 3px outset black;
    margin: 2%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.messagesTab.orange
{
    background: #ffcd70;
    background: linear-gradient(30deg, rgba(255, 205, 112, 1) 0%, rgba(255, 166, 0, 1) 100%);
}

.messagesTab.red
{
    background: #ff8282;
    background: linear-gradient(30deg, rgba(255, 130, 130, 1) 0%, rgba(255, 42, 0, 1) 100%);    
}

.messagesTab.green
{
    background: #7ff062;
    background: linear-gradient(30deg, rgba(127, 240, 98, 1) 0%, rgba(42, 153, 11, 1) 100%);
}


.messagesTab > .messageContent
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    align-items: center;
}

.messagesTab > img
{
    height: 85px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
}