.pagination
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
    gap: 10px;
    text-align: center;
}
.pagination > *
{
    border: 2px solid black;
    padding: 10px;
    background: rgba(53, 53, 53, 0.747);
    color: white;
    border-radius: 16px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.982);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(47, 47, 47, 0.3);
}
.pagination > a
{
    flex-grow: 1;
    color: rgb(255, 255, 255);
    text-decoration: none;
}